{
	"tleURL": "https://www.celestrak.com/NORAD/elements/weather.txt",
	"location": [20.0000, -90.0000, 100],
	"dataDir": "./data",
	"emailSettings": {
		"user": "bob@gmail.com",
		"pass": "secretpassword",
		"receiveAddress": "youremail@domain.com"
	},
	"twitterSettings": {
		"consumer_key": "xxxx",
		"consumer_secret": "xxxx",
		"access_token": "xxxx",
		"access_token_secret": "xxx"
	},
	"satellites": [
		{
			"name": "NOAA 19",
			"type": "noaa",
			"frequency": 137100000,
			"samplerate": 60000,
			"gain": 40,
			"tweet": true
		},
		{
			"name": "NOAA 15",
			"type": "noaa",
			"frequency": 137620000,
			"samplerate": 60000,
			"gain": 40,
			"tweet": true
		},
		{
			"name": "NOAA 18",
			"type": "noaa",
			"frequency": 137912500,
			"samplerate": 60000,
			"gain": 40,
			"tweet": true
		},
		{
			"name": "METEOR-M 2",
			"type": "meteor",
			"frequency": 137100000,
			"samplerate": 150000,
			"gain": 45,
			"tweet": true,
			"maxEclipseDepth": -25
		}
	]
}
