{
	"tleURL": "https://www.celestrak.com/NORAD/elements/weather.txt",
	"location": [20.0000, -10.0000, 100],
	"dataDir": "./data",
	"email": {
		"user": "bob@gmail.com",
		"pass": "secretpassword",
		"receiveAddress": "youremail@domain.com"
	},
	"twitter": {
		"consumer_key": "XXXX",
		"consumer_secret": "XXXX",
		"access_token": "XXXX",
		"access_token_secret": "XXXX"
	},
	"satellites": [
		{
			"name": "NOAA 19",
			"noaa": true,
			"freq": 137100000,
			"samplerate": 60000,
			"gain": 35,
			"email": false,
			"tweet": false
		},
		{
			"name": "NOAA 18",
			"noaa": true,
			"freq": 137912500,
			"samplerate": 60000,
			"gain": 35,
			"email": false,
			"tweet": false
		},
		{
			"name": "METEOR-M 2",
			"noaa": false,
			"freq": 137100000,
			"samplerate": 150000,
			"gain": 40,
			"email": false,
			"tweet": false
		}
	]
}